:root {

  --black: #111827;

  /* Borders */
  --border: #e5e7eb;
  --border-hover: #d1d5db;

  /* Purple */
  --purple-bg: #eef2ff;
  --purple-color: #4f46e5;
  --purple-border: #c7d2fe;

  /* Blue */
  --blue-bg: #e0f2fe;
  --blue-color: #0A5CBC;
  --blue-alt: #0284c7;
  --blue-border: #bae6fd;

  /* Green */
  --green-bg: #dcfce7;
  --green-color: #017C46;
  --green-alt: #00b61e;
  --green-border: #bbf7d0;

  /* Red */
  --red-bg: #fee2e2;
  --red-color: #DD1822;
  --red-border: #fecaca;

  /* Orange */
  --orange-bg: #ffedd5;
  --orange-color: #FA6200;
  --orange-border: #fed7aa;

  --grey-color: rgb(112, 112, 112);





  --text: #13163551;
  --text-h: #08060d;
  --text-muted: #9c9c9c;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #0029B2;
  --accent-alt: #DD1822;
  --accent-bg: rgba(59, 108, 255, 0.1);
  --accent-border: rgba(37, 37, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Inter', sans-serif;
  --display: 'Exo', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #84c4fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(132, 206, 252, 0.5);
    --social-bg: rgba(47, 49, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */


body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: var(--sans);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: 0px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
